.btn {
    border-radius: 2px;
    border: solid 1px grey;
    font-size: 14px;
    padding: 7px 15px;
    color: #fff;
}

.btn.btn.success {
    background-color: greenyellow;
}

.btn.btn.success.active {
    background-color: green;
}

.btn.btn.success.active.move {
    width: 100px;
    height: 100px;
    background: forestgreen;
    transition: width 2s, height 2s, transform 2s;
}

.btn.btn.success.active.move:hover {
    width: 1000px;
    height: 1000px;
    transform: rotate(180deg);
}

.btn.btn.danger {
    background-color: red;
}

.btn.btn.danger.active {
    background-color: darkred;
}
