.neu.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: solid 1px #dce1e4;
    transition: background-color 100ms ease-in-out;
}

.neu.checkbox.checked {
    background-color: #4ece3d;
}

.neu.checkbox-image {
    width: 10px;
    height: 10px;
}
